<div class="row mt-3">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-header">Timepicker (<b>Default</b>)</div>
            <div class="card-body">
                <label for="defaultTime" class="form-label">Pick a time:</label>
                <input class="form-control" id="defaultTime" type="time" [(ngModel)]="defaultTime"/>
                <div class="alert alert-info mt-3"><b>Selected time: </b>{{ defaultTime }}</div>
            </div>
        </div>
    </div>
</div>
