
<fieldset class="form-group">
    <label>SPARQL-Query</label>
    <textarea class="form-control" rows="3" [(ngModel)]="str"></textarea>
    <p class="help-block">Enter a SPARQL-Query to query the RExDB directly!</p>
</fieldset>

<button class="btn btn-secondary" (click)="onSubmit(str)">Submit Button</button>

<div *ngIf="notClick">
    Click Button ...
</div>
<div *ngIf="loading">
    Loading ...
</div>
<div *ngIf="error">
    Error :(
</div>
<div *ngIf="graphQlResult">
    <div class="card-header">
        Response:
    </div>

   <!-- {{sparqlResult | json}}
        {{sparqlVars | json}}   -->





    <div class="card-body">
        <table class="table table-responsive table-striped">
            <ng-container *ngFor="let varr of sparqlVars">
                <thead>
                    <tr>
                        <th>{{varr}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let content of sparqlResult">
                        <td>{{content[varr].value}}</td>
                    </tr>
                </tbody>
            </ng-container>         
        </table>
    </div>    
</div>
