<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item" [ngClass]="{'active': i==0}" *ngFor="let slider of sliders; let i=index">
                        <img [src]="slider.imagePath" class="d-block w-100">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{slider.label}}</h5>
                            <p>{{slider.text}}</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [count]="26" [icon]="'fa-comments'" [label]="'New Comments!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [count]="12" [icon]="'fa-tasks'" [label]="'New task!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [count]="124" [icon]="'fa-shopping-cart'" [label]="'New Orders!'">
            </app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [count]="13" [icon]="'fa-support'" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
    <hr />
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est animi quibusdam praesentium quam, et
        perspiciatis, consectetur velit culpa molestias dignissimos voluptatum veritatis quod aliquam! Rerum placeat
        necessitatibus, vitae dolorum
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est animi quibusdam praesentium quam, et
        perspiciatis, consectetur velit culpa molestias dignissimos voluptatum veritatis quod aliquam! Rerum placeat
        necessitatibus, vitae dolorum
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header"><i class="fa fa-clock-o fa-fw"></i> Responsive Timeline</div>
                <app-timeline></app-timeline>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header"><i class="fa fa-bell fa-fw"></i> Notifications card</div>
                <app-notification></app-notification>
            </div>

            <app-chat></app-chat>
        </div>
    </div>
</div>
