<div class="card">
    <div class="card-header">Dropdown</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="d-inline-block dropdown">
                    <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">Toggle dropdown</button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">Action</li>
                        <li class="dropdown-item">Another Action</li>
                        <li class="dropdown-item">Something else is here</li>
                    </ul>
                </div>
            </div>
            <div class="col text-right">
                <div class="d-inline-block dropup">
                    <button class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">Toggle dropup</button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item">Action</button>
                        <button class="dropdown-item">Another Action</button>
                        <button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
