<div class="row">
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Basic Pagination</div>
            <div class="card-body">
                <div class="text-uppercase text-muted fs-12">Default pagination</div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="text-uppercase text-muted fs-12">Without directions</div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
                <div class="text-uppercase text-muted fs-12">First and last page</div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="alert alert-info"><b>Current page: </b>{{ defaultPagination }}</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Pagination size</div>
            <div class="card-body">

                <nav aria-label="...">
                    <ul class="pagination pagination-lg">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>

                <nav aria-label="...">
                    <ul class="pagination ">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>

                <nav aria-label="...">
                    <ul class="pagination pagination-sm">
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">1</span>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div class="card mt-3">
            <div class="card-header">Disabled pagination</div>
            <div class="card-body">
                <p>Pagination control can be disabled:</p>
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item" [ngClass]="{'disabled': paginationDisabled}">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled': paginationDisabled}"><a class="page-link" href="#">1</a></li>
                        <li class="page-item" [ngClass]="{'disabled': paginationDisabled}" aria-current="page">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item" [ngClass]="{'disabled': paginationDisabled}"><a class="page-link" href="#">3</a></li>
                        <li class="page-item" [ngClass]="{'disabled': paginationDisabled}">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <hr />
                <button (click)="toggleDisabled()" class="btn btn-outline-primary">
                    Toggle disabled
                </button>
            </div>
        </div>
    </div>
</div>
