<div class="card mt-3">
    <div class="card-header">
        Tooltip
    </div>
    <div class="card-body">
        <button class="btn btn-secondary" #tooltip data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            Tooltip on top
        </button>
        <button class="btn btn-secondary" #tooltip data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on top">
            Tooltip on right
        </button>
        <button class="btn btn-secondary" #tooltip data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on top">
            Tooltip on bottom
        </button>
        <button class="btn btn-secondary" #tooltip  data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on top">
            Tooltip on left
        </button>
        <button type="button" #tooltip class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip </em> <u>with</u> <b>HTML</b>">
            Tooltip with HTML
        </button>
    </div>
</div>
