
<div class="card mt-3">
    <div class="card-header">
        Pop over
    </div>
    <div class="card-body">
        <button #popover
            type="button"
            class="btn btn-secondary"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            data-bs-placement="top"
            title="Popover on top"
        >
            Popover on top
        </button>

        <button #popover
            type="button"
            class="btn btn-secondary"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            data-bs-placement="right"
            title="Popover on right"
        >
            Popover on right
        </button>

        <button #popover
            type="button"
            class="btn btn-secondary"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            data-bs-placement="bottom"
            title="Popover on bottom"
        >
            Popover on bottom
        </button>

        <button #popover
            type="button"
            class="btn btn-secondary"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
            data-bs-placement="left"
            title="Popover on left"

        >
            Popover on left
        </button>
    </div>
</div>

