<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <img src="../../../assets/images/rexDB_logo.png" width="50%" />
            <h1 class="text-body">RexDB - Your Platform for Research Expertise</h1>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3">
        <div class="col-md-6">
            <form role="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="mt-4">
                <div class="row justify-content-md-center">
                    <div class="col-sm-12">
                        <input [placeholder]="'Email' | translate" formControlName="username" class="form-control form-control-lg" type="text" />
                        <div *ngIf="loginForm.touched">
                            <!-- <small *ngIf="loginForm.controls.username.errors.required" class="form-text text-muted">E-Mail is required</small> -->
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center mt-2">
                    <div class="col-12">
                        <input [placeholder]="'Password' | translate" formControlName="password" class="form-control form-control-lg"
                            type="password" />
                    </div>
                </div>
                <div class="mt-2 float-end">
                    <button [routerLink]="['/signup']" class="btn btn-secondary me-2">
                        {{ 'Register' | translate }}
                    </button>
                    <button type="submit" class="btn btn-success">{{'Log in' | translate}}</button>
                </div>
            </form>
        </div>
    </div>

</div>
