<div class="p-3">
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                You miss Breaking Bad? Thats okay, who doesn't?<br>
                Cheer yourself up with some of these Breaking Bad quotes...
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <figure>
                <blockquote class="blockquote">
                  <p>{{this.quote?.quote}}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  {{this.quote?.author}}
                </figcaption>
              </figure>
              <button class="btn btn-primary mt-3" (click)="getQuote()">Get a new one</button>
        </div>
    </div>
